@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.poster-container {
  width: 297mm;
  height: 420mm;
  background-image: url('../../public/yo2.png');
  background-size: cover; /* Ensures image covers the entire element */
  background-position: center; /* Centers the image horizontally and vertically */
  background-color: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
